---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full h-full overflow-x-hidden">
    <main class="w-full h-full">
      <!-- Header Section -->
      <div class="flex justify-center">
        <Header />
      </div>

      <!-- Grid Layout -->
      <div class="gap-8 grid h-auto grid-cols-1 md:grid-cols-2">
        
        <!-- Section Portfolio -->
        <section class="p-4 md:col-span-1 md:row-span-1">
          <h1 class="font-bebas text-6xl md:text-[150px] text-center md:text-left">
            Portfolio
          </h1>
          <div class="flex flex-col md:flex-row justify-between items-center mt-4">
            <p class="font-bebas text-2xl md:text-4xl text-center md:text-left">Puybonnieux Franck</p>
            <p class="font-bebas text-xl md:text-2xl text-center md:text-left">2022 - 2024</p>
          </div>
          <p class="font-bebas text-xl md:text-2xl mt-2 md:mt-0 text-center md:text-left">
            MMI
          </p>
        </section>

        <!-- Image "Souris" -->
        <div class="relative pt-8 flex justify-center md:row-span-1">
          <img
            src="/souris.png"
            alt="Souris"
            class="hidden md:block w-[150px] md:w-auto max-w-[50%] object-contain absolute top-10 right-10 md:top-[500px] md:right-[-300px] md:translate-x-[-50%] md:translate-y-[-50%] -z-10"
          />
        </div>

        <!-- Section "À propos de moi" -->
        <section class="p-4 md:p-8 md:col-span-1">
          <div class="relative">
            <h1 class="relative z-10 font-bold text-2xl md:text-3xl text-center md:text-left">
              À propos de <span class="text-green-500">moi</span>
            </h1>
          </div>
          <p class="relative z-10 mt-4 text-justify leading-relaxed md:text-left px-8">
            Étudiant en 3e année de BUT Métiers du Multimédia et de l'Internet à
            l'IUT du Limousin, je suis passionné par le design numérique et la
            création de contenu multimédia. Curieux et créatif, j'explore des
            domaines variés comme le graphisme, le développement web, et l'UI/UX
            design. Mon parcours en MMI m’a permis de travailler sur des projets
            concrets et de développer une solide compréhension de la
            communication visuelle et de l’expérience utilisateur. J’aime
            relever de nouveaux défis et enrichir mes compétences dans un
            environnement dynamique.
          </p>
        </section>

        <!-- Compétences -->
        <div class="font-source flex justify-center items-center text-center md:row-span-1">
          <p class="text-sm md:text-base">
            UX – UI DESIGN - INTÉGRATION SITE WEB - COMMUNICATION
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
