<footer class="bg-stone-700 text-stone-100 py-6">
  <div class="max-w-4xl mx-auto px-4 text-center">
    <!-- Call to Action -->
    <p class="text-lg lg:text-xl font-semibold mb-2">
      Mon profil vous intéresse ? Contactez-moi ! :
    </p>
    <a
      href="mailto:franck.pbn7@mail.com"
      class="text-lime-500 hover:text-lime-400 text-base lg:text-lg font-medium hover:no-underline"
    >
      franck.pbn7@mail.com
    </a>
  </div>

  <!-- Lien vers Behance -->
  <div class="mt-4 text-center">
    <p class="text-sm text-stone-400 mb-2">
      Découvrez mon travail sur Behance :)
    </p>
    <a
      href="https://www.behance.net/franckpuybonn"
      target="_blank"
      class="text-lime-500 hover:text-lime-400 text-base font-medium hover:no-underline"
    >
      Mon Behance
    </a>
  </div>

  <div class="mt-4 pt-4 text-sm text-stone-400 justify-center flex">
    <p>© 2024 Franck Puybonnieux. Tous droits réservés.</p>
  </div>
</footer>
