---

---
<header class="">
  <nav class="">
    <div class="internal-links ">
      <a href="/">A propos</a>
      <a href="/réalisation">Mes réalisations</a>
      <a href="/about">About</a>
    </div>
    <div class="social-links"></div>
  </nav>
</header>
<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 0 1em;
    color: var(--black);
    text-decoration: none;
	border: solid 1px #1d1d1d;
  }
  nav a:hover {
    color: white;
    background-color: #1d1d1d;

  }
</style>
