---

---
<header class="">
  <nav class="">
    <div class="internal-links">
      <a href="/">Acceuil</a>
      <a href="/realisation">Mes réalisations</a>
      <a href="/about">A propos</a>
    </div>
    <div class="social-links"></div>
  </nav>
</header>
<style>
nav {
  display: flex;
  justify-content: center;
}

.internal-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  color: #292524;
  background-color: #F5F5F4;
  text-decoration: none;
  border: 1px solid #292524;
}

nav a:hover {
  color: #F5F5F4;
  background-color: #292524;
}

@media (min-width: 768px) {
  .internal-links {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 16px;
  }
}

</style>
